<h3 class="mb-4">The following options will support your expected team growth:</h3>

<div class="results-wrapper">
  <h4>In your current building:</h4>

  <p class="result" data-name="1">
    Take another 7 person office on the same floor <a href="#" class="btn btn-warning">Explore this option</a>
  </p>
  <p class="result" data-name="2">
    Take another 7 person office on the same floor <a href="#" class="btn btn-warning">Explore this option</a>
  </p>
</div>

<div class="results-wrapper">
  <h4>In nearby locations:</h4>

  <p class="result" data-name="3">
    Take another 7 person office on the same floor <a href="#" class="btn btn-warning">Explore this option</a>
  </p>
  <p class="result" data-name="4">
    Take another 7 person office on the same floor <a href="#" class="btn btn-warning">Explore this option</a>
  </p>
</div>
